/* コンテナ */
.container {
    width: 100%;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 30px;
    box-sizing: border-box;
}

/* タブ */
.tabs {
    display: flex;
    gap: 26x;
    margin-bottom: 32px;
    position: relative;
}

.tabs::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 1px;
    background: #ccc;
    pointer-events: none;
    z-index: 0;
}

.tab {
    position: relative;
    z-index: 1;
    padding: 15px 15px;
    font-size: 16px;
    color: #666;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-bottom: -1px;
    margin-top: 20px; 
    font-weight: bold;
}

.tab.active {
    color: red;
    border-bottom: 2px;
}

/* 商品グリッド */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px; 
}

/* 商品カード */
.product-card a {
    display: block;
    text-decoration: none;
}

/* 商品画像枠 */
.product-image {
    display: block;
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

/* 商品画像 */
.product-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}


/* 商品名 */
.product-name {
    display: block;
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    word-break: break-all;
}


.sold-ribbon {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 28px;
    line-height: 28px;
    transform: rotate(-45deg) translate(-18px, -10px);
    background: #ff5f5f;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    letter-spacing: 0.1em;
    pointer-events: none;
}

.product-image {
    position: relative;
}

.alert-danger {
    color: #ff0000  !important;
    font-weight: bold !important;
    font-size: 24px !important;
}