.purchase-main {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 0;
    box-sizing: border-box;
    margin-top: 45px;
}

.purchase-left {
    flex: 2;
}

.purchase-right {
    flex: 1;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.summary-box {
    border: 1px solid #000;
    overflow: hidden;
    /* 内側のボーダーをコンテナ内に収める */
    background: #fff; 
    margin-bottom: 30px;
    padding: 20px;
}

.summary-row {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 30px 30px;              
    border-bottom: 1px solid #eee;
    font-size: 16px;
}

.summary-row:last-child {
    border-bottom: none; 
}

.purchase-btn {
    background: #ff5f5f;
    color: #fff;
    font-size: 18px;
    padding: 16px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

.purchase-btn:hover {
    background: #e04a4a;
}

.shipping-address {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;   
}

.shipping-title {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    padding-left: 30px;
    justify-content: space-between;
}

.shipping-info{
    padding-left: 100px;
    font-size: 20px;
    font-weight: bold;
}

.change-link {
    font-size: 12px;
    margin-left: 8px;
    color: #007bff;
    text-decoration: none;
    cursor: pointer;
}

.product-header {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    margin-bottom: 24px; 
    padding-bottom: 16px;
    margin-bottom: 0;
    border-bottom: 1px solid #000;
}

.product-image {
    flex: 0 0 200px;
    max-width: 200px;
    margin-bottom: 24px;
}

.product-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain; 
}

.product-info {
    flex: 1;
}
    
.product-name {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}
    
.product-price {
    margin: 8px 0 0;
    display: flex;
    align-items: baseline;
    gap: 4px;
}

.product-price .sign {
    font-size: 24px;
    font-weight: normal;
}

.product-price .price {
    font-size: 30px;
}

.form-group {
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #000;
}

.payment-method-title {
    font-weight: bold;
    margin-bottom: 30px;
    padding-left: 30px;
}

.payment-method {
    padding: 3px 3px;
    margin-left: 100px;
    padding-right: 80px;
    border-radius: 4px;
    font-size: 16px;
    color: #636769;
    font-weight: bold;
}


#payment_method option {
    background-color: #636769;
    color: #fff;
}

/* カーソルを合わせたときの背景色（ホバー） */
#payment_method option:hover {
    background-color: #e0e0e0; }